<div class="pt-5">
  <div class="flex flex-col ">
    <div class="flex justify-center gap-3">
      <span class="text-[#717171] text-xs">About</span>
      <span class="text-[#717171] text-xs">Accessibility</span>
      <span class="text-[#717171] text-xs">Help Center</span>
    </div>
    <div class="flex justify-center gap-3 mt-2">
      <span class="text-[#717171] text-xs">Privacy & Terms </span>
      <span class="text-[#717171] text-xs">Ad Choices</span>
    </div>
    <div class="flex justify-center gap-3 mt-2">
      <span class="text-[#717171] text-xs">Advertising</span>
      <span class="text-[#717171] text-xs">Business Services</span>
    </div>
    <div class="flex justify-center gap-3 mt-2">
      <span class="text-[#717171] text-xs">Get the LinkedIn app</span>
      <span class="text-[#717171] text-xs">More</span>
    </div>
    <div class="flex justify-center gap-3 mt-4">
      <span class="text-xs"> LinkedIn Corporation © 2022</span>
    </div>
  </div>
</div>
