<div class="w-full h-full flex justify-center gap-5">

    <!-- left Content -->
    <div class="hidden sm:block w-max md:block w-max lg:block w-max xl:w-max">
        <div class="rounded-lg bg-white border border-gray-300">
            <div class="flex flex-col py-2">
              <div *ngFor="let lc of leftContent">
                <div class="flex py-2.5 px-4 cursor-pointer" >
                  <i class="{{lc['icon']}} self-center text-[#666666] text-2xl"></i>
                  <span class="ml-4 inline-block align-middle text-md text-[#666666]"> {{[lc['name']]}}</span>
              </div>
              </div>
            </div>
        </div>
        <div class="flex justify-center ">
            <div class="text-blue-700 tracking-wide border border-blue-700 rounded-full w-full py-3 h-12 my-3.5 font-medium">
                <div class="flex justify-center">
                    <i class="icofont-pencil-alt-1 text-[#0a66c2] text-2xl"></i> Post a free job</div>
                </div>
        </div>
    </div>

    <!-- Middle Content -->
    <div class="w-max sm:w-[40%] xl:w-[40%] overflow-y-scroll example">
        <div class="rounded-lg bg-white border p-2 pb-4 border-gray-300">
            <div class="py-3 px-4">
                <div class="flex justify-between">
                    <span class=" text-base text-[#595959]">Suggested job searches</span>
                    <span class="text-base text-[#717171] cursor-pointer"> X</span>
                </div>
            </div>
            <div class="flex flex-wrap cursor-pointer">
                <div *ngFor="let i of list">
                    <div class="text-blue-700 tracking-wide border border-blue-700 rounded-full m-1.5 py-1 pr-1 text-xs">
                         <i class="icofont-search-2 self-center text-[#0a66c2] mx-1.5 text-md"></i>{{i['sug']}}</div>
                </div>
            </div>

        </div>

        <div class="rounded-lg bg-white border pt-2 mt-3 border-gray-300">
            <div class="py-3 px-4">
                <div class="flex flex-col">
                    <span class=" text-lg text-[#191919]">Recommended for you</span>
                    <span class="text-xs text-[#717171] cursor-pointer"> Based on your profile and search history</span>
                </div>
                <div class="flex mt-6">
                    <img class="w-16 h-16 mt-2" src="https://joestuff-bucket.s3.ap-south-1.amazonaws.com/profile/mcafee_logo.jpeg" alt="mcafee_logo">
                 <div class="flex flex-col mx-3">
                    <span class="text-base text-blue-700 mt-2 ">Android Developer - Remote</span>
                    <span class="text-xs ">McAfee</span>
                    <span class="text-xs mt-1 text-[#717171]">Bengaluru, Karnataka, India (Remote)</span>
                    <div class="mt-1"> <i class="icofont-dart text-2xl text-green-600"></i><span class="text-xs text-[#767676] ml-2 inline-block align-text-top" >Actively recruiting</span></div>
                    <span class="text-xs text-[#717171] mt-3">2 days ago</span>
                 </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="p-3 text-[#717171] flex justify-center cursor-pointer">
                <span class="text-md">Show all <i class="icofont-arrow-right inline-block align-bottom pl-2 text-xl"></i></span>
            </div>
        </div>
        <div class="rounded-lg bg-white border pt-2 mt-3 border-gray-300">
            <div class="py-3 px-4">
                <div class="flex flex-col">
                    <span class=" text-lg text-[#191919]">All jobs</span>
                    <span class="text-xs text-[#717171] cursor-pointer"> India </span>
                </div>
                <div class="flex mt-1" *ngFor="let j of job">
                    <img class="w-16 h-16 mt-2" [src]="j['img']">
                 <div class="flex flex-col mx-3">
                    <span class="text-base text-blue-700 mt-2 ">{{j['title']}}</span>
                    <span class="text-xs ">{{j['company']}}</span>
                    <span class="text-xs mt-1 text-[#717171]">Bengaluru, Karnataka, India (Remote)</span>
                    <div class="mt-1"> <i class="icofont-dart text-2xl text-green-600"></i><span class="text-xs text-[#767676] ml-2 inline-block align-text-top" >Actively recruiting</span></div>
                    <span class="text-xs text-[#717171] mt-3">{{j['time']}} ago</span>
                 </div>
                    <mat-divider></mat-divider>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="p-3 text-[#717171] flex justify-center cursor-pointer">
                <span class="text-md">Show all <i class="icofont-arrow-right inline-block align-bottom pl-2 text-xl"></i></span>
            </div>
        </div>
    </div>

    <!-- Right Content -->
    <div class="hidden sm:hidden md:hidden lg:block w-[25%] xl:w-[25%]">
        <div class="rounded-lg bg-white border pt-2 border-gray-300">
            <div class="py-3 px-4">
                <div class="flex flex-col">
                    <span class=" text-base text-[#191919]">Suggested job searches</span>
                    <span class="text-xs text-[#717171] cursor-pointer"> Recommended based on your activity </span>
                </div>
            </div>
            <div class="flex justify-between py-3 px-4 pt-2 bg-[#f9fafb]">
                <span class=" text-md mt-4 text-[#191919]">I want to improve my resume</span>
                <img class="w-18 h-14 rounded-lg" src="https://www.linkedin.com/dms/C4D0DAQFdDVwn9b17iA/learning-public-crop_60_100/0/1568251157263?m=AQIlzoPAWbRwhwAAAYTMgbbqd5risxVKfuQx2j_cAHk3rmQZ2RDHTIIDXQ&e=1669964763&v=beta&t=licGVInih0qlrhRRzODuDD0UQ4PCUt9JMdLuGSg3Weo" alt="">
            </div>
            <div class="p-3">
                <span class="text-md">Explore our curated guide of expert-led courses, such as how to improve your resume and grow your network, to help you land your next opportunity.</span>
            </div>
            <div class="p-3 text-[#b58fe0] cursor-pointer">
                <span class="text-md">Show more <i class="icofont-arrow-right inline-block align-bottom pl-2 text-xl"></i></span>
            </div>

        </div>
        <div class="pt-5">
            <div class="flex flex-col ">
              <div class="flex justify-center gap-3">
                <span class="text-[#717171] text-xs">About</span>
                <span class="text-[#717171] text-xs">Accessibility</span>
                <span class="text-[#717171] text-xs">Help Center</span>
              </div>
              <div class="flex justify-center gap-3">
                 <div class="flex mt-2">
                     <span class="text-[#717171] text-xs">Privacy & Terms </span>
                    <i class="icofont-rounded-down text-[#717171] text-lg "></i>
                 </div>
                    <span class="text-[#717171] text-xs mt-2">Ad Choices</span>
              </div>
              <div class="flex justify-center gap-3">
                <span class="text-[#717171] text-xs mt-2">Advertising</span>

                <div class="flex mt-2">
                    <span class="text-[#717171] text-xs">Business Services</span>
                   <i class="icofont-rounded-down text-[#717171] text-lg "></i>
                </div>
             </div>
              <div class="flex justify-center gap-3 mt-2">
                <span class="text-[#717171] text-xs">Get the LinkedIn app</span>
                <span class="text-[#717171] text-xs">More</span>
              </div>
              <div class="flex justify-center gap-3 mt-4">
                <span class="text-xs"> LinkedIn Corporation © 2022</span>
              </div>
            </div>
          </div>
    </div>

</div>
