<div class="flex m-4 justify-between "  >
    <span class="text-lg font-medium">Edit Intro</span>
    <span class="text-lg font-medium cursor-pointer" (click)="onClose()">x</span>
</div>
  <mat-divider></mat-divider>
  <div class="flex flex-col" >
    <div style="overflow-y: auto;">  
    <form [formGroup]="profileForm" >
      <div class="flex flex-col mx-5 mt-5">

   <!-- Adding Image      -->

        <!-- <div class="flex mr-5 " >
        <img class=" border border-white rounded-full w-[105px] h-[103px] p-0.5 bg-white cursor-pointer " [src]="myImage" >
            <input class="mt-8 ml-3" #file type="file" accept='image/*' (change)="onChange($event)" formControlName="image"/>
      </div> -->
      <mat-form-field>
        <mat-label>Enter your Name</mat-label>
        <input matInput placeholder="Ex. John" formControlName="profilename">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput placeholder="Ex. 05/12/1995" formControlName="dob">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contact Number </mat-label>
        <input matInput placeholder="Ex. 987654321" formControlName="phone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email Id</mat-label>
        <input matInput placeholder="Ex. example@mail.com" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Qualification </mat-label>
        <input matInput placeholder="Ex. B.com" formControlName="qualification">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Interests In </mat-label>
        <input matInput placeholder="Ex. Zoho" formControlName="interest">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Working In</mat-label>
        <input matInput placeholder="Ex. xyz-company" formControlName="work">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Skills</mat-label>
        <input matInput placeholder="Ex. Java,Html..." formControlName="skill">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput placeholder="Ex. chennai" formControlName="location">
      </mat-form-field>
      <!-- <input type="text" style="outline: none;" placeholder="What do you want to tell??"> -->
      </div>
      <mat-divider></mat-divider>
    </form>
  </div>
    <div class="flex justify-end mt-5 mb-3" style="position: sticky;">
      <div class="mb-2 ">
       <div class="text-white tracking-wide border border-blue-500 rounded-full px-4 py-1 mr-5 font-medium cursor-pointer bg-blue-500 " (click)="onConfirmClick()">Update</div>
     </div>
   </div>
  </div>