<div class="flex m-4 justify-between">
  <span class="text-lg font-medium">Create a post</span>
  <span class="text-lg font-medium cursor-pointer" (click)="onClose()">x</span>
</div>
<mat-divider></mat-divider>
<div class="flex flex-col">
  <div class="flex">
    <img class=" border border-white rounded-full w-14 h-14 mt-3 ml-3 bg-white"
    [src]="userProfile['profile']" alt="user_image">
    <div class="flex flex-col px-2 pt-2">
      <span class="text-base font-medium pt-2">{{userProfile['name']}}</span>
      <div class="flex justify-center cursor-pointer">
        <div class="text-gray-500 tracking-wide border border-gray-700 rounded-full px-2 py-1 text-xs">
          <i class="icofont-world m-1 cursor-pointer"></i> Anyone <i class="icofont-rounded-down"></i>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="postForm">
  <div class="flex flex-col mx-5 mt-5">
    <div class="invInp">
      <div class="pt-1.5"></div>
      <textarea matInput placeholder="What do you want to talk about?" rows="10" formControlName="content"></textarea>
  </div>
  </div>
  <div class="flex justify-between mt-7">
    <div>
      <i class="icofont-slightly-smile text-gray-500 mx-5 text-xl"></i>
      <mat-label class="text-blue-500 inline-block align-bottom">Hash tag</mat-label>
    </div>
      <div class="mb-2 ">
        <button [ngClass]="postForm.invalid ? 'text-gray-400 bg-gray-200 border-gray-500' : 'text-white border-blue-500 bg-blue-500 cursor-pointer' "
        class=" tracking-wide border  rounded-full px-4 py-1 mr-5 font-medium"
        (click)="onConfirmClick()" [disabled]="postForm.invalid"> Post</button>
      </div>
    </div>
  </form>
</div>
